{% extends 'blog/base.html' %}

{% block content %}
<form  method="POST" class="post-search">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Search</button>
</form>
<br>
<br>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}